

/* Preloder */



.rotate {
    animation: rotation 0.8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.page-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
}

.page-section-wrapper{    
    max-width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* border: 1px solid red; */
    transition: 0.7s;
    position: relative !important;
}


.page-section-wrapper-index{ 
    width: fit-content;
    height: 100%;
    display: flex;
    /* border: 1px solid red; */
    transition: 0.7s;
    position: relative !important;
}




#Loadingpage{
    z-index: 30;
}

.loading-page{
    width: 100vw;
    height: 100%;    
    background-image: url('../img/Loading-Screen.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

#preloder{    
    background: url('../img/loading-back.svg');
    width: 209px;
    height: 210px;    
}

.hero-section{
    overflow: hidden;
    width: 100vw;
    height: 100%;
    max-width: 400px;
    
}

@media only screen and (min-width: 390px) {
    .hero-section {
        box-shadow: 0 1px 3px black;
        border-top: thin inset;
    }
  }

#FeatureScreen1{
    transition:opacity 0.8s;
    background-image: url('../img/BG/feature1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#FeatureScreen2{ 
    transition:opacity 0.8s;
    background-image: url('../img/BG/feature2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.page-back-overal{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.555);
}

.top-overal-index{
    top: -2%;
    left: -92px;
    z-index: 1;
}

.top-overal-index img{
    width: 203px;
}

.top-overal{
    top: -4%;
    left: -132px;
    z-index: 1;
}



.top-overal img{
    width: 260px;
}

.bottom-overal{
    bottom: -9%;
    right: -107px;
    z-index: 1;
}




.feature-content{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
}


.feature-one-content{
    /* margin-top: 90px; */
    /* border: 1px solid; */
    padding-left: 5%;
    padding-right: 5%;
}

.feture-image-wrapper{
    width: 278px;
    height: 230px;
    margin-bottom: 20px;
}

.feture-image-wrapper img{
    width: 100%;
}

.slide-dot-wrapper{
    column-gap: 15px;
}

.next-btn-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.overal-part{
    opacity: 0;
}



/* order-now page */
.page-order{
    background-color: #FDF7F8;
    animation: fadeUp 1s;
}

@keyframes fadeUp{
    from{
        transform: translate(0,-500px) scale(0.2);
    }
    to{
        transform: translate(0px, 0) scale(1);
    }
}

/* subscribe page */
.page-subscribe{
    background-color: #F7FFE2;
    animation: fadeUpA 1s;
}

@keyframes fadeUpA{
    from{
        transform: translate(-500px,0) scale(0.2);
    }
    to{
        transform: translate(0px, 0) scale(1);
    }
}

/* catering page */
.page-catering{
    background-color: #F8F7FD;
    animation: fadeUpB 1s;
}

@keyframes fadeUpB{
    from{
        transform: translate(500px,0) scale(0.2);
    }
    to{
        transform: translate(0px, 0) scale(1);
    }
}

/* subscribe page */
.page-profile{
    background-color: #FDF7F8;
}



.order-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 8%;
    justify-content: space-between;
}

.order-now{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 8%;
    justify-content: space-between;
}



.page-head{ 
    display: flex;
    column-gap: 15px;
    width: 100%;
    align-items: center;
}

.oder-main-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    /* border: 1px solid; */
    background-color: white;
    border-radius: 18px;
    z-index: 5;
}


.order-card {
    max-width: 350px;
    width: 100%;
    border-radius: 8px;
    min-height: 141px;
    z-index: 5;
}

.card-img-wrapper{
    margin:auto

}

.card-img-wrapper img{
    width: 235px;
    margin-right: 5px;
}

.footer-nav{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    width: 100%;
    height: 75px;
    border-radius: 37px 37px 0px 0px;
    background-color: #2E2E2E;
    display: flex;
    justify-content: space-around;
    padding:15px 25px;
    z-index: 10;
    color: #707070;
    animation-delay: 0.7s;
}

.bottom-nav p{
    font-size: 11px;
    font-weight: bold;
    margin-top: 8px !important;
    text-transform: capitalize;
}


.bottom-nav{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}


.order-page-content{
    overflow: auto;
    z-index: 5;
    width: 100%; 
    height: 97%;
    /* border: 1px solid; */
    
}

.card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meal-type-block{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;  
    z-index: 5;  
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 2px solid gray;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2px;
}

input[type="radio"]:checked:before {
    background: rgb(255, 0, 0);
    
}

input[type="radio"]:checked {
  border-color:rgb(255, 0, 0);
}

.page-subscribe input[type="radio"]:checked:before {
    background:#7A8F41;
    
}

.page-subscribe input[type="radio"]:checked {
  border-color:#7A8F41;
}

#TimePickA input[type="radio"]:checked:before {
    background:#F1BB23;
    
}

#TimePickA  input[type="radio"]:checked {
  border-color:#F1BB23;
}


.page-catering input[type="radio"]:checked:before {
    background:#7955B6;
    
}

.page-catering input[type="radio"]:checked {
  border-color:#7955B6;
}


.role {
    font-weight: bold;
    font-size: 16px;
}

.checkbox label {
    margin-bottom: 20px !important;
}

.roles {
    margin-bottom: 20px;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: white;
    border-radius: 3px;
}

.radio-wrapper{
    width: 67%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
}

.step-header{
    display: flex;
    align-items: center;
}

.step-header h3{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 0.15em;
}


.order-step{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.1em;
}



.zip-code-input-wrapper input{
    height: 53px;
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;

}

.zip-code-input-wrapper input::placeholder{
    color: #A3A0A0;
}

#OrderNow{
    position: absolute;
    top: 0;
    left: 100vw;
    opacity: 0;
}


.delivery-time-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F7E1E4;  
    padding: 20px;  
    border-radius: 2px;
}

.page-catering .delivery-time-wrapper{    
    background-color: #EBDEFF;  
}





.block-title{
    display: flex;
    align-items: center;
}

.big-dot{
    width: 13px;
    height: 13px;
    border-radius: 100px;
}

.non-peak-text{
    font-size: 13px;
    font-weight: bold;   
}

.delivery-save .role{
    font-size: 12.6px;
    font-weight: bold;
    color: #C58F96;

}



.delivery-save input[type="radio"]{
    border: 2px solid #C58F96;
    margin: 0;
    margin-right: 8px;
}

.delivery-save input[type="radio"]:checked:before {
    background:#C58F96;
    
}

.delivery-save input[type="radio"]:checked {
  border-color:#C58F96;
}



.page-catering .delivery-save input[type="radio"]{
    border: 2px solid #7955B6;
    margin: 0;
    margin-right: 8px;
}

.page-catering .delivery-save input[type="radio"]:checked:before {
    background:#7955B6;
    
}

.page-catering .delivery-save input[type="radio"]:checked {
  border-color:#7955B6;
}


.date-time-picker-wrapper .input-group-addon{
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}


.date-time-picker-wrapper .glyphicon{
    color: #de4959;
}

.delivery-time-wrapper .non-peak-text{
    color: #D59CA3;
}





.date-pickers input{
    height: 56px;
    font-size: 14px;
    color: black;
    border-radius: 0;
    border: none;
    box-shadow: none;
}


#TimePick{
    position: absolute;
    z-index: 3 !important;
    top: 0;
    left: 0;
    opacity: 0;
}

#TimePickA{
    position: absolute;
    z-index: 3 !important;
    top: 0;
    left: -100vw;
    opacity: 0;
}

#TimePickB{
    position: absolute;
    z-index: 3 !important;
    top: 0;
    left: 100vw;
    opacity: 0;
}

#SubscribePlanSelection{
    position: absolute;
    z-index: 3 !important;
    top: -100vh;
    left: 0;
    opacity: 0;
}

#SubscribePlanSelectionOffice{
    position: absolute;
    z-index: 3 !important;
    top: -100vh;
    left: 0;
    opacity: 0;
}



.select-meal-nav{
    position: relative;
    width: 320px;
    height: 60px;
    /* border: 1px solid green; */
    overflow-x: scroll;
}

.select-nav-button-wrapper{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: fit-content;   
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.select-nav-button-wrapper button{
    width: 95px;
    height: 40px;
    background-color: #F1DADE;
    border:none;
    border-radius: 2px;
    outline: none; 
    color: #BB969C;   
}

.navActive{
    background-color: #DE4959 !important;
    color: white !important;
}


.page-subscribe .select-nav-button-wrapper button{
    background-color: #E2F1DA;
    color: #B8BB96;       
}

.page-subscribe .navActive{
    background-color: #7A8F41 !important;
    color: white !important;
}


.page-catering .select-nav-button-wrapper button{
    background-color: #E4D7F9;
    color: #B998F0;       
}

.page-catering .navActive{
    background-color: #7955B6 !important;
    color: white !important;
}




#SelectMeals{
    position:absolute;
    top: 100vh;
    left: 0;
    padding: 60px 8% 153px;
    opacity: 0;
    z-index: 4 !important;
}


#SelectMealsA{
    position:absolute;
    top: 100vh;
    left: 0;
    padding: 60px 8% 153px;
    opacity: 0;
    z-index: -1;
}

#SelectMealsB{
    position:absolute;
    top: 100vh;
    left: 0;
    padding: 60px 8% 153px;
    opacity: 0;
    z-index: -1;
}

.product-card{
    display: flex;
    align-items: flex-start;
    background-color: white;
    border-radius: 11px;
    padding: 20px;
    margin-bottom: 20px;
    column-gap: 9px;
    overflow: hidden;
}

.product-image-wrapper{
    width: 82px;
    height: 65px;
}

.product-detail-txt{
    font-size: 10.5px;
    margin-top: 7px;
    color: #ABAAAA;
}

.product-cost{
    font-size: 15px;
    color: #DE4959;
    font-weight: bold;
    margin-right: 18px;
}

.page-subscribe .product-cost{
    color: #7A8F41;
}

.page-catering .product-cost{
    color: #7955B6;
}


.conunt-number{
    font-size: 17px;
    font-weight: bold;
    margin-left: 12px;
    margin-right: 12px;

}

.page-footer-space{
    height: 70px;
}



.count-wrapper{
    display: flex;
}

.count-icon{
    cursor: pointer;
    display: inline-flex;
}

.count-icon .fa{
    font-weight: 100;
    font-size: 11px;    
}

.count-icon:hover .fa{
    transform: scale(1.05);
}

.count-icon:active{
    transform: scale(0.99);
}


/* .product-card-wrapper{
    height: 60vh;
    border: 1px solid red;
    overflow: auto;
} */

.product-add-btn{  
    font-size: 12px;  
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 35px;
    color: white;
    background-color: #DE4959;
    border-radius: 30px 0 0 ;
}


.product-remove-btn{
    font-size: 12px;  
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 35px;
    color: #DE4959;
    background-color: #fff;
    border-radius: 30px 0 11px 0;
    border: 1px solid #DE4959;
}

.page-subscribe .product-add-btn{
    background-color: #7A8F41;
}

.page-subscribe .product-remove-btn{
    color: #7A8F41;
    border: 1px solid #7A8F41;
}


.page-catering .product-add-btn{
    background-color: #7955B6;
}

.page-catering .product-remove-btn{
    color: #7955B6;
    border: 1px solid #7955B6;
}


.total-product{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    width: 130vw;
    height: 100px;
    border-radius: 60px 60px 0px 0px;
    background-color: #DE4959;
    display: flex;
    justify-content: space-around;
    padding:15px 25px;
    z-index: 10;
    color: #707070;
    animation-delay: 0.7s;
}
.page-subscribe .total-product{
    background-color: #7A8F41;
}

.page-catering .total-product{
    background-color: #7955B6;
}

.total-product{
    display: flex;
    justify-content: space-around;
}

.total-sub-part{
    height: fit-content;
    display: flex;
    align-items: center;
}

.total-sub-part h3{
    font-weight: bold;
    color: white;
}

.total-sub-part h5{
    font-weight: bold;
    color: white;
}

#OpenedMeal{
    position: absolute;
    top: 0;
    left: -100vw;
    padding:0px;    
    justify-content: flex-start;
    background-color: white;
    opacity: 0;
    z-index: 5 !important;
}





.top-product-back{
    /* border: 1px solid red; */
    max-width: 400px;
    width: 100%;
}

.top-product-back img{
    width: 100%;
}

.max-width400-part{
    max-width: 400px;
    width: 100%;
}

.open-meal-content{
    
    padding: 0px 8%;
}
.cart-add-icon-wrapper{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:2.6px;
    background-color: #E7E7E7;
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

.cart-add-icon-wrapper.plusactive{
    color: white;
    background-color: #DE4959;   
}


.page-catering .cart-add-icon-wrapper.plusactive{
    color: white;
    background-color: #7955B6;   
}

.add-cart-wrapper{
    display: flex;
    align-items: center;
}

.cart-alram{
    width: 100%;
    max-width: 400px;
    background-color: #F1DADE;
    width: 100%;
    height: 34px;
    color: #BB969C;
    font-size: 12px;
    display: flex;
    align-items: center; 
    padding-left: 30px;
    margin-top: 30px;
    position: fixed;
    bottom: 64px;
}

.add-cart-big-btn{
    width: 100%;
    max-width: 400px;
    height: 64px;
    font-size: 12px;
    color: white;   
    /* border-radius: 9px;  */
    position: fixed;
    bottom: 0

}

.second-style-page-hader{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.page-back-btn{
    width: 35px;
    height: 33px;
    border-radius: 5px;
    color: #555555;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}
.back-page-title{
    display: flex;
    column-gap: 15px;

}


.back-page-title h3{
    font-size: 21px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.title-start-btn{
    width: 88.9px;
    height: 36.52px;
    background-color: #F1DADE;
    border-radius: 2.5px;
    font-size: 12px;
    color: #BB969C;
}

.page-catering .title-start-btn{
    background-color: #E4D7F9;
    color: #C8ADF3;
}

.hour-discount-description{
    height: 39px;
    padding: 8px 25px;
    background-color: white;
}

.hour-discount-description p{
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
}


#MyOrder{
    position: absolute;
    top: -100vh;
    left: 0;
    opacity: 0;
    z-index: 5 !important;    
}

#Recepients{
    position: absolute;
    top: 0vh;
    left: -100vw;
    opacity: 0;
    z-index: 5 !important;    
}

#HomeMyOrder{
    position: absolute;
    top: -100vh;
    left: 0;
    opacity: 0;
    z-index: 5 !important;    
}

#OfficeMyOrder{
    position: absolute;
    top: -100vh;
    left: 0;
    opacity: 0;
    z-index: 5 !important;    
}


.not-enough-message{
    height: 52px;
    background: #FFD0D5; 
    padding: 8px 20px;   
}


#NotEnoughPrice{
    position: absolute;
    right: 100vw;
    opacity: 0;
}

.create-account-form{
    padding: 30px 2.2% 0px;

}

.create-account-form label{
    font-size: 14px;
    margin-left: 8px;
    font-weight: 400;
}

.create-account-form select{
    height: 53px;
    border: none;
    border-radius: 0;     
}

.create-account-form input{
    height: 53px;   
 }

#CreateAccount input{
    border-radius: 0;
    border: none;    
    box-shadow: none;
}

#DeliveryInformation input{
    border-radius: 0;
    border: none;    
    box-shadow: none;
}
#DeliveryInformation select{
    border-radius: 0;
    border: none;    
    box-shadow: none;
}
#DeliveryInformation textarea{
    border-radius: 0;
    border: none;    
    box-shadow: none;
}

#OrderSummaryPage input{
    border-radius: 0;
    border: none;    
    box-shadow: none;
}

#PaymentPage input{
    border-radius: 0;
    border: none;    
    box-shadow: none;
}

#PaymentPage select{
    border-radius: 0;
    border: none;    
    box-shadow: none;
}
.create-account-form input::placeholder{
    opacity: 0.3;
}

.already-text{
    text-align: center;
    font-size: 13px;
    color: #A5A5A5;
    margin:25px 0;
}

#CreateAccount{
    position: absolute;
    top: 100vh;
    left: 0;    
}

#LogInPage{
    position: absolute;
    top: 0;
    left: 100vw;
}

#LogInA{
    position: absolute;
    top: 0;
    left: 100vw;
    height: 100%;
}




#DeliveryInformation{
    position: absolute;
    left: 0;
    top: 100vh;    
}


#OrderSummaryPage{
    position: absolute;
    left: 100vw;
    top: 0;
}

#PaymentPage{
    position: absolute;
    right: 100vw;
    top: 0;
    opacity: 0;
}


.sumary-product-card-wrapper{
    height: 230px;
    overflow: auto;
    /* border: 1px solid red; */
}

.coupon-input-wrapper{
    margin-top: 25px;
}
.coupon-input-wrapper .form-inline{
    width: 100%;
}

.coupon-input-wrapper input{
    height: 53px;
}

.coupon-input-wrapper button{
    outline: none !important;
    height: 53px;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #DE4959;
    color: #DE4959;
}

.order-sumary{
    width: 100%;
    padding: 20px;
    border-radius: 11px;
    background-color: white;
    margin-top: 25px;
}

.required-mark{
    color: red;
}

.sumary-line h4{
    font-size: 13px;
}

.sumary-line h3{
    font-size: 17px;
    color: #DE4959;
    font-weight: bold;

}

.delivery-day-pick{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.delivery-day-item{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-transform: uppercase;
    color: #AEBB96;
    font-size: 10px;
    box-shadow: 0 0 9px #0000001f;
    font-weight: bold;
}



.delivery-day-item.dayactive{
    background-color: #7A8F41;
    color: white;
}   

.page-profile .delivery-day-item.dayactive{
    background-color: #DE4959;
    color: white;
}

.page-profile .delivery-day-item{
    color: #BB969C;
}






.day-plan-title{
    font-size: 16px;
    font-weight: bold;
    
}

.day-plan-content{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 9px #0000001f;
    padding: 10px;
}

.day-plan-content h3{
    margin-top: 10px;
}

#P_HomeSubscriptionPage h3{
    margin-bottom: 10px;
}

.delivery-number-choose{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 2px;
    row-gap: 13px;
}


.delivery-number-item{
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 6px #0000001f;
    border-radius: 4px;
    width: 48%;
}

.delivery-number-choose label{
    font-weight: 100;
    font-size: 13.5px;
}

#subscribeMain{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.profile-card-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

.profiel-card{
    width: 99%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    justify-content: space-between;
    box-shadow: 1px 1px 4px #0000001c;
    margin: auto;
}

.myorder-card{
    height: auto;
    padding: 15px 30px;
    margin-top: 18px;
    margin-bottom: 2px;
}


.profiel-card .fa{
    font-size: 23px;
    font-weight: bold;
    color: #555555;
}

#P_SignIn{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 2 !important;    
}

#FullProfile{
    position: absolute;
    top: 0;
    right: -100vw;
    opacity: 1;
    z-index: 2 !important;    
}

#P_Subscription{
    position: absolute;
    top: 0;
    right: 100vw;
    opacity: 1;
}

#P_HomeSubscriptionPage{
    position: absolute;
    top: 0;
    right: 100vw;
    opacity: 1;
}

#P_PreferedMealPage{
    position: absolute;
    top: -100vh;
    right: 0;
    opacity: 1;
}

#MyOrderAll{
    position: absolute;
    top: 100vh;
    right: 0;
    opacity: 1;
}

#MyOrderSub{
    position: absolute;
    top: -100vh;
    right: 0;
    opacity: 1;
}

#p_ManagePage{
    position: absolute;
    top: 0;
    right: -100vw;
    opacity: 1;
}

.page-active-mark{
   border-radius: 100px;
    height: 5px;
    width: 56px;    
}


#p_ManagePage input{
    border: 0;
    border-radius: 0;
    box-shadow: none;
}



















